
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 17rem));
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
